.main-theme {
  --bgcolor-aside-primary: #86a3b4;
  --bgcolor-main-primary: #fff;
  --bgcolor-border-main: #1e1e1e;
  --bgcolor-hireme-link-primary: #000;
  --color-hireme-link-primary: #fff;
  --bgcolor-hireme-link-secondary: #fff;
  --color-hireme-link-secondary: #000;
  --color-blue: #1c2e8c;
  --link-color-darkblue: #1c2e8c;
}
