.my-theme {
  --bgcolor-aside-primary: #7bbee4;
  --bgcolor-main-primary: #fff;
  --bgcolor-border-main: #6e38f9;
  --bgcolor-hireme-link-primary: rgb(230, 16, 16);
  --color-hireme-link-primary: #000;
  --bgcolor-hireme-link-secondary: #000;
  --color-hireme-link-secondary: rgb(230, 16, 16);
  --color-blue: #0f9c1d;
  --aside-link: #051044;
  --aside-link-hover: #343a57;
}
