:root {
  --fw-bold: 600;
  --fw-normal: 400;

  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 36px;
  --font-size-xxl: 40px;

  --line-height-xxs: 17px;
  --line-height-xs: 19px;
  --line-height-sm: 24px;
  --line-height-md: 29px;
  --line-height-lg: 39px;
  --line-height-xl: 44px;
  --line-height-xxl: 48px;

  --gap-xs: 11px;
  --gap-sm: 15px;
  --gap-md: 28px;
  --gap-lg: 36px;
  --gap-xl: 50px;

  --padding-40: 40px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Inter", sans-serif;
  font-weight: var(--fw-bold);
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.aside {
  width: 100vw;
  background-color: var(--bgcolor-aside-primary);
  gap: var(--gap-lg);
  padding-bottom: 20px;
}

.name {
  padding-top: 60px;
  padding-left: var(--padding-40);
}

.title {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

.hire-me {
  margin: 0 auto;
}

.hire-me__link {
  margin: 20px auto;
  text-decoration: none;
  background-color: var(--bgcolor-hireme-link-primary);
  color: var(--color-hireme-link-primary);
  padding: 10px;
  border-radius: 5px;
}

.hire-me__link:hover {
  color: var(--color-hireme-link-secondary);
  background-color: var(--bgcolor-hireme-link-secondary);
}

.white {
  color: var(--color-hireme-link-primary);
}

.blue {
  color: var(--color-blue);
}

.photo__style {
  max-width: 100%;
}

.contact {
  width: 100vw;
}

.contact,
.languages {
  padding-left: var(--padding-40);
  gap: var(--gap-lg);
}

.aside__header {
  padding-top: 20px;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.border {
  width: calc(100vw - 90px);
  padding: 0 20px;
  height: 6px;
  background-color: var(--bgcolor-border-main);
}

.contact__title {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.linked {
  overflow-wrap: break-word;
}

.gap-11 {
  gap: var(--gap-xs);
}

.gap-15 {
  gap: var(--gap-sm);
}

.languages__text {
  padding-top: 8px;
}

.languages__title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.main {
  background-color: var(--bgcolor-main-primary);
  max-width: 100vw;
  padding: 58px 55px;
  gap: var(--gap-xl);
}

.gap-28 {
  gap: var(--gap-md);
}

.main__title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.main__border {
  max-width: 100vw;
  height: 6px;
  background-color: var(--bgcolor-border-main);
}

.skills__list {
  padding-left: 28px;
}

.position__opacity {
  opacity: 0.7;
}

.position__opacity:first-child,
.position__opacity:hover {
  opacity: 1;
}

.position__opacity:hover {
  transition: 0.5s;
}

.position__title {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}

.text {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.aside__link {
  color: var(--aside-link);
}

.aside__link:hover {
  color: var(--aside-link-hover);
  transition: 0.25s;
}

.font-normal {
  font-weight: var(--fw-normal);
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1023px) {
  .container {
    min-height: 1600px;
    width: 1200px;
    flex-direction: row;
    margin: 0 auto;
  }

  .aside {
    width: 33%;
    box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
  }

  .photo__style:hover {
    filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, 0.25));
    transform: translate(60px, 0) scale(1.3);
    transition: transform 0.5s;
  }

  .contact,
  .languages {
    width: 90%;
  }

  .main {
    width: 67%;
  }

  .border {
    width: 100%;
  }
}
