* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  width: 1200px;
  min-height: 1600px;
  margin: 0 auto;
}

.aside {
  width: 30%;
  background-color: #86a3b4;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.name {
  padding-top: 60px;
  padding-left: 40px;
}

.name__style {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.surname__style {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1c2e8c;
}

.photo__style {
  width: 100%;
}

.contact,
.languages {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 35px;
}

.contact__header,
.languages__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aside__header {
  font-size: 32px;
  line-height: 39px;
}

.border {
  width: 289px;
  height: 6px;
  background-color: #1e1e1e;
}

.address,
.phone,
.e-mail,
.linked {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.contact__title {
  font-size: 24px;
  line-height: 29px;
}

.contact__text {
  font-size: 16px;
  line-height: 19px;
}

.languages {
  gap: 15px;
}

.languages_text {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.languages__style {
  font-size: 20px;
  line-height: 24px;
}

.main {
  padding: 58px 55px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.summary,
.skills,
.work,
.education {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main__title {
  font-size: 36px;
  line-height: 44px;
}

.main__border {
  width: 660px;
  height: 6px;
  background-color: #1e1e1e;
}

.summary__text {
  font-size: 16px;
  line-height: 19px;
}

.skills__list {
  padding-left: 28px;
  font-size: 16px;
  line-height: 19px;
}

.position {
  display: flex;
  flex-direction: column;
}

.position__title {
  font-size: 14px;
  line-height: 17px;
}

.position__text {
  font-weight: 400;
}
