* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Inter", sans-serif;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.aside {
  width: 30%;
  background-color: #86a3b4;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.name {
  padding-top: 60px;
  padding-left: 40px;
}

.name__style {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.surname__style {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1c2e8c;
}

.photo__style {
  width: 100%;
}
